<div class="container">
    <table class="table table-bordered table-inverse">
        <tr>
            <th>Task Name</th>
            <th>Description </th>
            <th>Created On</th>
        </tr>
        <tr *ngFor="let task of tasks">
            <td>
                <a [routerLink]="['/todolist/view/', task.taskId]">{{task.taskName}}</a>
            </td>
            <td>
                {{task.description}}
            </td>
            <td>
                {{task.createdOn}}
            </td>
        </tr>
    </table>
    <div class="row">
        <a class="btn btn=primary" routerLink="/newtask">Create new task</a>
    </div>
</div>
