<div class="container">
    <div class="row">
        <a class="btn btn-primary" routerLink="/newtask" id="createTaskBtn">Create new task</a>
    </div>
    <table class="table table-bordered table-inverse">
        <tr>
            <th>Task Name</th>
            <th>Description </th>
            <th>Created On</th>
            <th>Done</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let task of tasks">
            <td>
                <a [routerLink]="['/todolist/view/', task.taskId]" id="viewTaskLink">{{task.taskName}}</a>
            </td>
            <td>
                {{task.description}}
            </td>
            <td>
                {{task.createdOn | date:'shortDate' }}
            </td>
            <td>
                <input type="checkbox" [checked]="task.isDone" readonly>
            </td>
            <td>
                <button (click)="onDeleteClick(task.taskId)" id="deleteTaskBtn">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>
                <button [routerLink]="['/newtask', task.taskId]" id="updateTaskBtn">
                        <fa-icon [icon]="faPencil"></fa-icon>
                </button>
            </td>
        </tr>
    </table>
    <div *ngIf="validMessage != ''">
        <div class="{{alert}}">
          {{validMessage}}
        </div>
      </div>
</div>
