<div class="container">
    <div class="row">
      <a class="btn btn-primary" routerLink="/todolist" id="backToListBtn">Back to List</a>
    </div>
    <div>
      <div class="form-group">
        <label>Task Name</label>
        <div class="form-control">{{task.taskName}}</div>
      </div>
      <div class="form-group">
        <label>Description</label>
        <div class="form-control">{{task.description}}</div>
      </div>
      <div class="form-group">
        <label>User Name</label>
        <div class="form-control">{{task.userLogin}}</div>
      </div>
      <div class="form-group">
        <label>Created on</label>
        <div class="form-control">{{task.createdOn}}</div>
      </div>
      <div class="form-group form-check">
        <label>Is Done</label>
        <input type="checkbox" class="form-control" [checked]="task.isDone" disabled="true">
      </div>
    </div>
  </div>
